# ignore target
.classpath
target/

# intellij project files
.idea/

# netbeans project files
nbproject/

# eclipse/aptana project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store
